:root {
    --main-gold: #AD974F;
    --dark-gold: #8E793E;
    --main-light: #EAEAEA;
    --dark-gray: #555555;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* border-box */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* 默认字号为16px, 将html根元素字号设置为 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* breakpoints */
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}
